@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap'); 
@font-face { 
         font-family: 'android';
         src: url('/fontes/idroid.otf') format('opentype');
        font-weight: normal;
}
    

:root {
         --cor0:#EA565E;  
         --cor1:#6B0000;
         --cor2:#EB0101;
         --cor3:#6B2020;
         --cor4:#B80000;
         --fonte-padrao: arial,verdana,helvetica;
         --fonte-destaque:'Bebas Neue';
         --fonte-android: 'android' ;
         }

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);   
}

 main p { 
     margin: 15px 0px;
     text-align: justify;
     text-indent: 30px;
     font-size: 1em;
     line-height: 2em;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 4px;
    border-radius: 4px;
}


main a {
    text-decoration: none;
    color: #EA565E;
}
 main a:hover {
    text-decoration: underline;
    color: var(--cor1);

 }

header {
        background-image:linear-gradient(to bottom,var(--cor1), VAR(--cor2)) ;
        min-height: 150px;
        height: 157px;
        
}

header > h1 {
    font-family: var(--fonte-destaque);
        color: white;
        font-size: 3em;
        padding-top: 10px;
        padding-bottom: 15px;
        text-shadow: 2px 2px 0px black;
        text-align: center;
}

header > p { 
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav { 
    background-color:var(--cor1);
    color: white;
    text-align: center;
}

nav > a {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    text-decoration: none;
    border-radius: 5px;
}

nav > a:hover{
    background-color:var(--cor0);
    color: var(--cor1);
}


a.externo::after{
    content:'\00a0\1F525';
}


main img {
     width: 100%;
    
}


main img.pequena{
        max-width: 350px;
        display: block;
        margin: auto;
}


main {
     background-color: rgba(234, 255, 210, 0.726);
     padding: 30px;
     border-radius: 20px;
     min-width: 200px;
     max-width: 800px;
     margin: auto ;
    }
     

main h1{
    font-family: var(--fonte-android);
    color: var(--cor1);
}
main h2{
    color: var(--cor1);
    font-family: var(--fonte-android);
    font-size: 1em;
    background-image: linear-gradient(to right,var(--cor0),transparent);
    text-indent: 8px;
}

ul { 
    list-style-type:'\2705\00a0\00a0' ;
    list-style-position: inside;
    columns: 2;
}


div.video {
    background-color:rgba(234, 255, 210, 0.726);
    margin: 0px -20px 30px -20 ;
    padding: 20px;
    padding-bottom: 59%;
    border-radius: 20px;
    position: relative;
}


div.video > iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width:90% ;
        height:90% ;

}


h3 { 
    background-color: rgba(119, 25, 206, 0.712);
    color: black;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 20px 20px 0px 0px;
}


aside { 
       background-color:rgba(52, 167, 167, 0.705);
       font-weight: bold;
       padding: 10px;
       border-radius: 20px;
       box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.219);
       border: solid 1px #EB0101;
}


footer { 
    font-family: var(--fonte-destaque);
    background-color: var(--cor2);
    text-align: center;
    color: black;
    text-align: center;
    font-size: 1.5em;
}
 
#ol>img{
    width: 50px;
    border-radius: 50px;
    box-sizing: border-box;
}

section{
    text-align: left;
    display: inline-block ;
    position: relative;
    top: -125px;
}
section>a>img:hover{
        border: 3px solid white;
        transform: translate(5px,5px);
}